@import url('https://fonts.googleapis.com/css?family=Abel|Exo|Libre+Baskerville|Poppins|Quicksand');

@font-face {
	font-family:"Poppins";
	src:url(../fonts/Poppins-Light.ttf);
}
body{
		font-family: 'Poppins', sans-serif;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 60px;
    color: #f4eb87;
}
.jumbotron-white{
	background-color: white;
}
.jumbotron {
    padding-top:20px;
    padding-bottom: 0px;
    margin-bottom: 0px; 
}

.second-column{
	/*margin-right: 200p*/
}
.education_timeline{
	width: 550px;
	width: 100%;
}
.panel-default {
	border: none;
    border-color: #fff;
    font-size: 16px;

}
/*.row-center{
	display: flex;
	align-items: center;
}*/

.donut{
	width: 120px;
}
.hobbies-img{
	width: 50px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.medal{
	width: 60px;
	margin-top: 12px;
	margin-bottom: 10px;
}
.panel-medal{
	font-size: 14px;
}
li{
	margin-top: 5px;
	list-style-type: none;
}
.personal img{
	width: 100px;
}
.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}

.social-buttons{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:390px;
	width: 400px;
}
.social-info img{
	margin-right: 20px;
}
.social-buttons img{
	width: 32px;
	margin-right:40px;
}
.panel-default>.panel-heading{
	background-color: white;
}
.panel-default>.panel-heading h3{
	font-size: 25px;
	font-weight: bolder;
	color: #777;
}
.panel-default>.panel-heading.panel-social{
	background-color: #8f8d8d;
	color: #FFFFFF;		
}
/*.jumbotron-right{
	background-color: #f4eb87;
}*/
.jumbotron li{
	list-style-type: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.panel-heading img{
	margin-right: 10px;
	margin-left: 30px;
}
.hr-gradient{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #FFFFFF, #A1A1A1, #FFFFFF);
  background-image: -moz-linear-gradient(left, #FFFFFF, #8c8b8b, #FFFFFF);
  background-image: -ms-linear-gradient(left, #FFFFFF, #8c8b8b, #FFFFFF);
  background-image: -o-linear-gradient(left, #FFFFFF, #8c8b8b, #FFFFFF); 
  width: 45%;
  margin-top: 10px; 
  margin-bottom: 10px;
}
